<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<!-- <link rel="icon" href="../../favicon.ico"> -->

<title>
<%- title %>
</title>

<!-- Bootstrap core CSS -->
<link href="./stylesheets/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./stylesheets/dashboard.css" rel="stylesheet">
</head>

<body>
<!--顶端Nav-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#">专家管理系统</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#dashboard" data-toggle="tab">操作台</a></li>
        <li><a href="#individual" data-toggle="tab">个人信息</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--内容-->
<div id="outer_tab" class="tab-content">
  <div class="tab-pane fade in active" id="dashboard"> 
    <!--   操作台-->
    <div class="container-fluid">
      <div class="row"> 
        <!--         左侧Nav-->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#home" data-toggle="tab">首页 <span class="sr-only">(current)</span></a></li>
            <li><a href="#entering" data-toggle="tab">专家信息录入</a></li>
          </ul>
        </div>
        <!--        右侧Tab-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id="myTabContent" class="tab-content"> 
            <!--       首页-->
            <div class="tab-pane fade in active" id="home">
              <h1 class="page-header">首页</h1>
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
            <!--          专家信息录入-->
            <div class="tab-pane fade" id="entering">
              <h2 class="sub-header">专家信息录入</h2>
              <!-- 如何做到相对路径? -->
              <form action="/expert_board/entering" method="POST">
                <table class="table table-bordered">
                  <caption>
                  基本信息
                  </caption>
                  <thead>
                    <tr>
                      <th>专家证书编号</th>
                      <td><input name="expert_credential_id" type="text" class="form-control" placeholder="" value="<%= expert.expert_credential_id %>"></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>证书有效期限</th>
                      <td><input name="expert_credential_expire" type="date" class="form-control" placeholder="" value="<%= expert.expert_credential_expire %>"></td>
                    </tr>
                    <tr>
                      <th>专家姓名</th>
                      <td><input name="name" type="text" class="form-control" placeholder="" value="<%= expert.name %>"></td>
                    </tr>
                    <tr>
                      <th>专家性别</th>
                      <td><select name="gender" class="form-control" value="<%= expert.gender %>">
                          <option value = "1">男</option>
                          <option value = "0">女</option>
                        </select></td>
                    </tr>
                    <tr>
                      <th>出生日期</th>
                      <td><input name="born_date" type="date" class="form-control" placeholder="" value="<%= expert.born_date %>"></td>
                    </tr>
                    <tr>
                      <th>政治面貌</th>
                      <td><select name="political_status" class="form-control" value="<%= expert.political_status %>">
                          <option value = "3">其他</option>
                          <option value = "2">党员</option>
                          <option value = "1">团员</option>
                          <option value = "0">群众</option>
                        </select></td>
                    </tr>
                    <tr>
                      <th>颁发机构</th>
                      <td><input name="certificate_authority" type="text" class="form-control" placeholder="" value="<%= expert.certificate_authority %>"></td>
                    </tr>
                    <tr>
                      <th>状态</th>
                      <td><%= expert.status %></td>
                    </tr>
                    <tr>
                      <th>照片</th>
                      <td><div class="form-group">
                          <input name="photo" type="file" id="inputfile" value="<%= expert.photo %>">
                        </div></td>
                    </tr>
                    <tr>
                      <th>证件类型</th>
                      <td><select name="credential_type" class="form-control" value="<%= expert.credential_type %>">
                          <option value = "1">其他</option>
                          <option value = "0">居民身份证</option>
                        </select></td>
                    </tr>
                    <tr>
                      <th>证件编号</th>
                      <td><input name="credential_ID" type="number" class="form-control" placeholder="" value="<%= expert.credential_ID %>"></td>
                    </tr>
                    <tr>
                      <th>工作单位</th>
                      <td><input name="work_unit" type="text" class="form-control" placeholder="" value="<%= expert.work_unit %>"></td>
                    </tr>
                    <tr>
                      <th>联系电话</th>
                      <td><input name="phone_number" type="number" class="form-control" placeholder="" value="<%= expert.phone_number %>"></td>
                    </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="individual"> 
    <!--         个人信息-->
    <div class="container">
      <form method = "POST" action= "/expert_board/altering" class="form-signin">
        <h2 class="form-signin-heading">密码修改</h2>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name = "old" type="password" id="inputPassword" class="form-control" placeholder="当前密码" required>
        <input name = "new" type="password" class="form-control" placeholder="新密码" required>
        <input type="password" class="form-control" placeholder="再次确认密码" required>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <input type ="text" placeholder="验证码" required>
          </div>
          <div class="col-xs-6 col-md-3"> <a href="#" class="thumbnail"> 
            <!-- <img src="..." alt="...">  --> 
            </a> </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">确认</button>
      </form>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="./js/jquery-3.2.1.min.js"></script> 
<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> --> 
<script src="./js/bootstrap.min.js"></script>
</body>
</html>
