<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<!-- <link rel="icon" href="../../favicon.ico"> -->
<title><%- title %></title>

<!-- Bootstrap core CSS -->
<link href="./stylesheets/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./stylesheets/signin.css" rel="stylesheet">
</head>

<body>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="signin">
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">专家管理系统登录</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="帐号" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <button class="btn btn-lg btn-block active" href="#register" data-toggle="tab">注册 </button>
      </form>
    </div>
  </div>
  <div class="tab-pane fade" id="register">
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">专家管理系统注册</h2>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 角色 <span class="caret"></span> </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">专家</a></li>
            <li><a href="#">管理员</a></li>
          </ul>
        </div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail2" class="form-control" placeholder="帐号" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword2" class="form-control" placeholder="密码" required>
        <input type="password" class="form-control" placeholder="再次确认密码" required>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <input type ="text" placeholder="验证码" required>
          </div>
          <div class="col-xs-6 col-md-3"> <a href="#" class="thumbnail"> 
            <!-- <img src="..." alt="...">  -->
          </a> </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        <button class="btn btn-lg btn-block active" href="#signin" data-toggle="tab" > 登录 </button>
      </form>
    </div>
  </div>
</div>
<!-- /container --> 
<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="./js/jquery-3.2.1.min.js"></script> 
<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> --> 
<script src="./js/bootstrap.min.js"></script>
</body>
</html>
